body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    height: 100vh;
}
.main {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.left-side {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 90%;
    border: 1px solid black;
    margin: 1% 1% 1% 1%;
    padding: 10px;
}

.right-side {
    display: flex;
    flex: 3;
    flex-direction: column;
    background-color: #f1f1f3;
    width: 100%;
    height: 90%;
    margin: 1% 1% 1% 1%;
    padding: 10px;
    overflow: scroll;
}
.search-bar {
    display: flex;
    justify-content: space-between;
}
.main-content {
    display: flex;
    flex-direction: column;
}
.job {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid rgba(72, 118, 160, 255);
    margin-top: 2%;
    background-color: white;
    width: 100%;
    height: auto;
}
.job-img {
    display: flex;
    width: 10%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1%;
}
.job-des {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px;
}
.job-actions {
    width: 10%;
    display: flex;
    justify-content: flex-end;
}

.main-title {
    font-weight: bold;
}
.main-title-job {
    font-weight: bold;
    font-size: 20px;
}
.second-title-job {
    font-size: 15;
    margin-top: 10px;
}
.thired-title-job {
    font-size: 10;
    margin-top: 10px;
}
.four-title-job {
    font-size: 5;
    margin-top: 5px;
    color: gray;
}
.job-icon {
    margin: 5px 5px 5px 5px;
}
input[type='checkbox'] {
    margin: 10px 5px 5px 10px;
}
.search-bar-button {
    flex: 1;
}
.search-button {
    margin-left: 1%;
}

.main-button {
    background-color: #2196f3;
    border: 1px solid #2196f3;
    border-radius: 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 40px;
    font-size: 14px;
}
.secondary-button {
    background-color: #bfc3c9;
    border: 1px solid #bfc3c9;
    border-radius: 8px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.submit-job-div {
    margin: 5% 2% 2% 2%;
}
.cancel-div {
    margin: 5% 1px 2% 1%;
}
.selector {
    height: 40px;
    width: 49%;
    color: #969a9c;
}
@media only screen and (max-width: 992px) {
    .main {
        flex-direction: column;
    }
    .right-side {
        flex: 1;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: 0% 0% 0% 0%;
    }
    .job {
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .job-des {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        padding: 10px;
    }
    .demoForm{
        display: flex;
    }
    .left-side {
        display: flex;
        flex: 0.2;
        flex-direction: row;
        border: 1px solid black;
        margin: 0% 0% 0% 0%;
        padding: 10px;
    }
}
